* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styling */
#main-header {
  background: rgb(0, 128, 0);
  background: linear-gradient(
    45deg,
    rgb(0, 128, 0) 0%,
    rgba(204, 255, 51, 1) 75%
  );
  position: sticky;
  z-index: 100;
  top: 0;
}
#header {
  padding: 1rem 1rem;
  text-shadow: -3px 3px 10px black;
  color: #ffffff;
  width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#main-title {
  padding-bottom: 1.5rem;
}

body {
  background: rgb(187, 187, 187);
  background: linear-gradient(
    45deg,
    rgba(187, 187, 187, 1) 0%,
    rgba(255, 255, 255, 1) 60%
  );
  font-family: Arial, Helvetica, sans-serif;
  color: #2e2e2e;
  line-height: 1.6;
}

.features {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
}

/* Grid layout for episode cards */
#show-card {
  columns: 4;
  column-gap: 2rem;
}

#show-container {
  max-width: 1280px;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* Episode card container part styling */
.episode-container {
  break-inside: avoid;
  margin-bottom: 2rem;
  overflow: hidden;
  background-color: #ebebeb;
  height: fit-content;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: -3px 3px 10px #7a7a7acb;
  line-height: 1.4rem;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
}

/* Slight zoom effect on hover for episode cards */
.episode-container:hover {
  scale: 1.05;
  box-shadow: -6px 6px 10px #7a7a7acb;
}

/* Make episode code fully visible on hover for better readability */
.episode-container:hover .episode-code {
  opacity: 100%;
}

/* Episode image part styling */
.episode-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px #2e2e2e;
}

/* Episode code par styling */
.episode-code {
  color: #222222;
  background: #f7f7f7a6;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  padding: 0.5rem 0.8rem;
  opacity: 90%;
  display: inline-block;
}

/* Episode title part styling */
.episode-title {
  width: fit-content;
  font-weight: 600;
  margin: 1rem 0;
  text-shadow: 0 0 10px #ecececdc;
}

/* Episode summary part styling */
.episode-summary {
  width: fit-content;
  text-shadow: 0 0 10px #e7e7e7d3;
  font-weight: 400;
  border-radius: 10px;
  margin: 1rem 0;
}

.episode-select-container {
  text-align: center;
  /* padding: 10px 0 20px; */
}

#show-selector {
  width: 300px;
  padding: 8px;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #ecececdc;
  border: none;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}

#episode-selector {
  width: 300px;
  padding: 8px;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #ecececdc;
  border: none;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}

#episode-selector:focus {
  outline: none;
  box-shadow: -2px 2px 10px black inset;
}

/* Search container styling */
.search-container {
  position: relative;
  display: inline-block;
  /* gap: 5px; */
  /* padding: 5px 0; */
}

.clear-icon {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

.clear-icon:hover {
  color: #333;
}

/* Search box styling */
#searchBox {
  width: 300px;
  padding: 8px 16px;
  border: none;
  border-radius: 15px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  background-color: #ecececdc;
  transition: all 0.3s ease;
}

#episode-selector:hover,
#searchBox:hover {
  background-color: #dcdcdc;
}

#searchBox:focus {
  outline: none;
  box-shadow: -2px 2px 10px black inset;
  width: 340px;
}

#searchBox::placeholder {
  color: #666;
}

/* Episode count display styling */
#episode-count {
  font-size: 0.9rem;
  color: #2e2e2e;
  font-weight: 700;
  text-shadow: 0 0 10px rgb(245, 245, 245);
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 4px 12px;
  border-radius: 12px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  background: rgba(204, 255, 51, 1);
  background: linear-gradient(
    45deg,
    rgb(146, 194, 2) 10%,
    rgba(204, 255, 51, 1) 40%
  );
  /* margin-top: 10px; */
}

/* Footer styling */
footer {
  font-size: 1.5rem;
  text-align: center;
  background: rgb(0, 128, 0);
  background: linear-gradient(45deg, rgb(1, 117, 1) 0%, rgb(146, 194, 2) 50%);
  padding: 30px;
  box-shadow: -5px 5px 20px #242424 inset;
  text-shadow: -5px 5px 10px #242424;
  color: #ffffff;
}

/* adjusting TVMaze logo in the footer */
#tvmaze-img {
  vertical-align: middle;
  width: 8rem;
}

/* Adjusting grid layout for smaller screens to make web-page responsive */
@media (max-width: 1200px) {
  #show-card {
    columns: 3;
  }
}

@media (max-width: 900px) {
  #show-card {
    columns: 2;
    padding: 0 1rem;
  }
}

@media (max-width: 600px) {
  #show-card {
    columns: 1;
    padding: 0 1rem;
  }
  #episode-selector,
  #searchBox {
    width: 100%; /* Make search and dropdown take full width on smaller screens */
  }
}
